@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
font-family: "Fira Sans", serif;

*{
    margin: 0;
    padding: 0;
    visibility: hidden;
    background: rgb(30, 30, 30);
}
body{
    background-color: #f5f5f5;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 19px 128px 19px 128px;
}
nav ul li{
    list-style: none;
}
.nav-title{
    font-size: 32px;
    font-weight: 700;
    font-family: Fira Sans;
}

.btn-1{
    width: 116px;
    height: 52px;
    font-size: 18px;
    font-family: Fira Sans;
    font-weight: 600;
    box-sizing: border-box;
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;

}

.hero{
    width: 1228px;
    height: 448px;
    padding: 64px 80px 64px 80px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin: 64px 80px;
    margin-top: 20px;
}
.hero-sub-title{
    font-size: 24px;
    font-weight: 500;
    font-family: Fira Sans;
    line-height: 29px;
    color: #0E0E0E80;

}
.hero-title{
    font-size: 60px;
    font-weight: 700;
    line-height: 67px;
    font-family: Fira Sans;
}

.btn-2{
    width: 270px;
    height: 56px; 
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    font-size: 16px;
    font-family: Fira Sans;
    font-weight: 600;
    color: #FFFFFF;
}

.hero-profile{
    width: 474.03px;
    height: 400px;
}

/* main section style */
.the-vision-of-future{
    padding: 32px;
}
.section-title{
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    margin-left: 45px;
}
.section-description{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    margin-left: 45px;
}

/* The Vision Of Future Container Style */
.the-vision-of-future-container1{
    width: 410.67px;
    height: 325px;
    gap: 24;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    display: flex;   
    justify-content: center;
    align-items: center;
    
}
.the-vision-of-future-container2{
    width: 410.67px;
    height: 325px;
    gap: 24;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214); 
    display: flex;   
    justify-content: center;
    align-items: center;  
}
.the-vision-of-future-container3{
    width: 410.67px;
    height: 325px;
    gap: 24;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);  
    display: flex;   
    justify-content: center;
    align-items: center; 
}
.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    margin: 80px;
    margin-top: 0;
}

.the-vision-of-future-title{
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    width: 346.67px;
    height: 24px;
    
}

.the-vision-of-future-description{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.btn-vision-1{
    width: 139px;
    height: 48px; 
    padding: 10px 27px 10px 27px;
    border-radius: 8px;
    border: none;
    background: rgb(84, 144, 245);
    font-size: 16px;
    font-family: Fira Sans;
    font-weight: 600;
    color: #FFFFFF;
}
.btn-vision-2{
    width: 139px;
    height: 48px; 
    padding: 10px 27px 10px 27px;
    border-radius: 8px;
    border: none;
    background: rgb(9, 161, 92);
    font-size: 16px;
    font-family: Fira Sans;
    font-weight: 600;
    color: #FFFFFF;
}
.btn-vision-3{
    width: 139px;
    height: 48px; 
    padding: 10px 27px 10px 27px;
    border-radius: 8px;
    border: none;
    background: rgb(255, 194, 57);
    font-size: 16px;
    font-family: Fira Sans;
    font-weight: 600;
    color: #FFFFFF;
}

/* Info style */
.info{
    padding: 0 80px;

}
.info-title{
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    gap: 24px;
}
.info-description{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}

/* satellite */

 .sta-img{
    border-radius: 24px;
 }
.satellite{
    display: flex;
    gap: 32px;
    padding: 48px;
    width: 1113px;
    height: 349px;
    margin-top: 32px;
    margin-bottom: 24px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin-left: 128px;   
}

.satellite-title{
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}
.satellite-date{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.satellite-description{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.btn-sta{
    width: 139px;
    height: 48px; 
    padding: 10px 27px 10px 27px;
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    font-size: 16px;
    font-family: Fira Sans;
    font-weight: 600;
    color: #FFFFFF;
}